<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-4 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-4">
        <div class="flex items-center">
            <!-- Sidebar toggle button -->
            <button mat-icon-button (click)="projectsComponent.drawer.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </button>
        </div>

        <!-- Title -->
        <div class="min-w-0 flex-1">
            <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-2xl">
                {{ projectBoard.title }}
            </h2>
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">

            <projects-board-settings [board]="projectBoard" class="mr-4"></projects-board-settings>
            <!-- <a mat-stroked-button [routerLink]="['..']">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:view-columns'"></mat-icon>
                <span class="ml-2">Boards</span>
            </a> -->
            <!-- <cloud-storage *ngIf="!projectBoard.fileUrl" (setFile)="setFile($event)"></cloud-storage> -->
            <!-- <a mat-stroked-button [routerLink]="['./pdf/' + projectBoard.id]">
                <mat-icon class="icon-size-5" [svgIcon]="'picture_as_pdf'"></mat-icon>
                <span class="ml-2">Pdf</span>
            </a> -->
            <!-- <button class="ml-3" mat-stroked-button
                [routerLink]="['../' + projectBoard.id + '/labels/' + projectBoard.id]">
                <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:label'"></mat-icon>
                <span class="ml-2">Labels</span>
            </button> -->
            <!-- <select-autocomplete-avatar [labelName]="'Users'" [items]="allUsers" [selectedItems]="projectBoard.users"
                [bindLabel]="'firstName'" [bindValue]="'id'" (selectedOption)="onOptionSelected($event)">
            </select-autocomplete-avatar> -->

            <button class="ml-3" mat-stroked-button (click)="updateSupportTickets()">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
                <span class="ml-2">Update Support Tickets</span>
            </button>

            <section class="example-section">
                <mat-checkbox class="example-margin" [checked]="showBacklog"
                    (change)="onShowBacklog()">Backlog</mat-checkbox>
            </section>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto overflow-y-auto p-6 sm:p-8 sm:pt-4" cdkScrollable>
        <!-- Lists -->
        <div class="flex" cdkDropList [cdkDropListData]="mergedLists" [cdkDropListOrientation]="'horizontal'"
            (cdkDropListDropped)="listDropped($event)">
            <!-- Group all cdkDropList's after this point together so that the cards can be transferred between lists -->
            <div class="flex items-start" cdkDropListGroup>

                <!-- List -->
                @for (list of mergedLists | sortByIndex: 'position'; track trackByFn($index, list)) {
                <div *ngIf="list.title ==='Backlog' ? showBacklog : true" class="bg-default w-80 flex-0 rounded-2xl p-2"
                    cdkDrag [cdkDragLockAxis]="'x'">
                    <div class="flex items-center justify-between" cdkDragHandle>
                        <div
                            class="flex w-full cursor-text items-center rounded-md border border-transparent px-3 py-2 focus-within:border-primary focus-within:bg-white focus-within:shadow-sm dark:focus-within:bg-gray-900">
                            <input class="w-full bg-transparent font-medium leading-5" [spellcheck]="'false'"
                                [value]="list.title" (focusout)="updateListTitle($event, list)"
                                (keydown.enter)="listTitleInput.blur()" #listTitleInput />
                        </div>
                        <div *ngIf="list.cards"
                            class="text-secondary ml-4 flex min-w-6 items-center justify-center rounded-full bg-gray-300 text-sm font-semibold leading-6 dark:bg-gray-700">
                            {{ list.cards ? list.cards.length : 0 }}
                        </div>
                        <div class="ml-1">
                            <button class="h-8 min-h-8 w-8" mat-icon-button [matMenuTriggerFor]="listMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="
                                                'heroicons_solid:ellipsis-vertical'
                                            "></mat-icon>
                            </button>
                            <mat-menu #listMenu="matMenu">
                                <button mat-menu-item [routerLink]="['labels', projectBoard.id]">
                                    <mat-icon class="icon-size-5" [svgIcon]="
                                                    'mat_outline:label'
                                                "></mat-icon>
                                    Manage Labels
                                </button>

                                <button mat-menu-item (click)="renameList(listTitleInput)">
                                    <mat-icon class="icon-size-5" [svgIcon]="
                                                    'heroicons_solid:pencil-square'
                                                "></mat-icon>
                                    Rename list
                                </button>
                                <button mat-menu-item (click)="deleteList(list.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    Delete list
                                </button>


                            </mat-menu>
                        </div>
                    </div>

                    <!-- Cards -->
                    <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:border dark:bg-transparent">
                        <div [id]="list.id" class="p-3 pb-0" cdkDropList [cdkDropListData]="list.cards"
                            (cdkDropListDropped)="cardDropped($event)">
                            <!-- Card -->
                            @for (
                            card of list.cards | sortByIndex: 'position';
                            track trackByFn($index, card)
                            ) {
                            <!-- <projects-card-item class="m-1" [card]="card"> -->
                            <!-- <a class="bg-card mb-3 h-30 flex flex-col items-start space-y-3 overflow-hidden rounded-lg p-2 shadow"
                                [routerLink]="['card', list.id, card.id]" cdkDrag> -->
                            <a class="bg-card mb-3 h-30 flex flex-col items-start space-y-3 overflow-hidden rounded-lg p-2 shadow"
                                cdkDrag>
                                <projects-card-drawer (saveCard)="onSaveCard($event)"
                                    (deleteCard)="onDeleteCard($event)" [card]="card" [list]="list"
                                    [board]="projectBoard">
                                </projects-card-drawer>
                            </a>
                            <!-- </projects-card-item> -->
                            <!-- <a class="pb-4" [routerLink]="['card', list.id, card.id]" cdkDrag>
                                <projects-card-item class="m-1" [card]="card"></projects-card-item>
                            </a> -->
                            }
                        </div>

                        <!-- New card -->
                        <projects-board-add-card (onAddCard)="addProjectCard(list, $event)" [buttonTitle]="
                                        list.cards.length
                                            ? 'Add another card'
                                            : 'Add a card'
                                    ">
                        </projects-board-add-card>
                    </div>
                </div>
                }
                <!-- New list -->
                <projects-board-add-list (saved)="addList($event)" [buttonTitle]="
                    projectLists.length ? 'Add another list' : 'Add a list'
                    ">
                </projects-board-add-list>

            </div>
        </div>
    </div>
</div>

<!-- Invisible router-outlet for ScrummyBoardCard component -->
<div class="pointer-events-none invisible absolute h-0 w-0 opacity-0">
    <router-outlet></router-outlet>
</div>