<!-- Shortcuts toggle -->
<button mat-icon-button (click)="openPanel()" #shortcutsOrigin>
    <mat-icon [svgIcon]="'axiomaim:stages'"></mat-icon>
</button>

<!-- Shortcuts panel -->
<ng-template #shortcutsPanel>
    <div
        class="fixed inset-0 flex flex-col overflow-hidden shadow-lg sm:static sm:inset-auto sm:w-90 sm:min-w-90 sm:rounded-2xl">
        <!-- Header -->
        <div class="flex shrink-0 items-center bg-primary py-4 pl-6 pr-4 text-on-primary">
            <div class="-ml-1 mr-3 sm:hidden">
                <button mat-icon-button (click)="closePanel()">
                    <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                </button>
            </div>
            <div class="flex items-center text-lg font-medium leading-10">
                <span class="">Stages</span>
                @if (mode !== 'view') {
                <span class="ml-1">
                    @if (mode === 'add') {
                    - Add new
                    }
                    @if (mode === 'modify' || mode === 'edit') {
                    - Editing
                    }
                </span>
                }
            </div>
            <div class="ml-auto">
                <!-- View mode -->
                @if (mode === 'view') {
                <!-- Enter 'modify' mode -->
                <button mat-icon-button (click)="changeMode('modify')" [matTooltip]="'Enter edit mode'">
                    <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                </button>
                <!-- Enter 'add' mode -->
                <button mat-icon-button (click)="newStage()" [matTooltip]="'Add stage'">
                    <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                </button>
                }

                <!-- Modify mode -->
                @if (mode === 'modify') {
                <!-- Enter 'view' mode -->
                <button mat-icon-button (click)="changeMode('view')" [matTooltip]="'Exit edit mode'">
                    <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                </button>
                }

                <!-- Add mode -->
                @if (mode === 'add') {
                <!-- Enter 'view' mode -->
                <button mat-icon-button (click)="changeMode('view')" [matTooltip]="'Cancel'">
                    <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
                </button>
                }

                <!-- Edit mode -->
                @if (mode === 'edit') {
                <!-- Enter 'modify' mode -->
                <button mat-icon-button (click)="changeMode('modify')" [matTooltip]="'Cancel'">
                    <mat-icon class="text-current icon-size-5" [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
                </button>
                }
            </div>
        </div>
        <div class="bg-card relative p-4 -mb-px flex flex-auto flex-col overflow-y-auto sm:max-h-120">
            <!-- View mode -->
            @if (mode === 'view' || mode === 'modify') {
            <!-- Shortcuts -->
            <div class="flex flex-wrap gap-x-8 gap-y-4">
                <!-- <div class="mt-4 flex flex-col space-y-8 border-t pt-6"> -->
                <div class="flex">
                    <div cdkDropList (cdkDropListDropped)="drop($event)" class="ml-6 min-w-0 space-y-1">
                        @for (
                        stage of _stagesV2Service.stages();
                        track trackByFn($index, stage)
                        ) {
                        <div class="flex items-center leading-6 bg-card rounded-lg p-3 shadow"
                            [cdkDrag]="mode === 'modify'">
                            <mat-icon cdkDragHandle class="w-10" [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                            <div class="w-30 ">
                                {{ stage.name }}
                            </div>
                            <div class="w-15 text-secondary truncate text-md">
                                <span class="font-medium">{{
                                    stage.percent | percent
                                    }}</span>
                            </div>
                            <button mat-icon-button (click)="editStage(stage)" [matTooltip]="'Edit stage'"
                                [disabled]="mode !== 'view' && mode !== 'modify'">
                                <mat-icon class="w-10" [svgIcon]="'heroicons_outline:pencil-square'"></mat-icon>
                            </button>
                        </div>
                        }
                    </div>
                </div>
            </div>

            <!-- No shortcuts -->
            @if (!_stagesV2Service.stages() || !_stagesV2Service.stages().length) {
            <div class="flex flex-auto flex-col items-center justify-center px-8 py-12 sm:justify-start">
                <div
                    class="flex h-14 w-14 flex-0 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-600">
                    <mat-icon class="text-primary-700 dark:text-primary-50"
                        [svgIcon]="'heroicons_outline:bookmark'"></mat-icon>
                </div>
                <div class="mt-5 text-2xl font-semibold tracking-tight">
                    No stages
                </div>
                <div class="text-secondary mt-1 w-full max-w-60 text-center text-md">
                    When you have stages, they will appear here.
                </div>
            </div>
            }
            }

            <!-- Add/Edit mode -->
            @if (mode === 'add' || mode === 'edit') {
            <form class="p-6" [formGroup]="stageForm">
                <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput [formControlName]="'name'" required />
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Percent</mat-label>
                    <input matInput type="number" [formControlName]="'percent'" />
                </mat-form-field>
                <!-- Actions -->
                <div class="mt-4 flex items-center justify-end">
                    @if (mode === 'edit') {
                    <button class="mr-2" mat-flat-button type="button" (click)="delete()">
                        Delete
                    </button>
                    }
                    <button mat-flat-button [color]="'primary'" [disabled]="!stageForm.valid" type="button"
                        (click)="save()">
                        @if (mode === 'add') {
                        Add
                        }
                        @if (mode === 'edit') {
                        Update
                        }
                    </button>
                </div>
            </form>
            }
        </div>
    </div>
</ng-template>