<div class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
    <!-- Requests -->
    <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-2 shadow">
        <div class="flex items-start justify-between">
            <div class="truncate text-lg font-medium leading-6 tracking-tight">
                Requests
            </div>
            <div class="-mr-3 -mt-2 ml-2">
                <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="
                                                    'heroicons_mini:ellipsis-vertical'
                                                "></mat-icon>
                </button>
                <mat-menu #summaryMenu="matMenu">
                    <button mat-menu-item>
                        Yesterday
                    </button>
                    <button mat-menu-item>
                        2 days ago
                    </button>
                    <button mat-menu-item>
                        3 days ago
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="mt-0 flex flex-col items-center">
            <div class="text-6xl font-bold leading-none tracking-tight text-blue-500 sm:text-6xl">
                {{ this._workflowV2Service.allRequests().length || 0 }}
            </div>
            <div class="text-lg font-medium text-blue-600 dark:text-blue-500">
                Requests
            </div>
            <div class="text-secondary mt-0 flex w-full items-baseline justify-center">
                <div class="truncate text-md font-medium">
                    Completed:
                </div>
                <div class="ml-1.5 text-lg font-semibold">
                    13
                </div>
            </div>
        </div>
    </div>
    <!-- Overdue -->
    <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-2 shadow">
        <div class="flex items-start justify-between">
            <div class="truncate text-lg font-medium leading-6 tracking-tight">
                Quotes
            </div>
            <div class="-mr-3 -mt-2 ml-2">
                <button mat-icon-button [matMenuTriggerFor]="overdueMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="
                                                    'heroicons_mini:ellipsis-vertical'
                                                "></mat-icon>
                </button>
                <mat-menu #overdueMenu="matMenu">
                    <button mat-menu-item>
                        Yesterday
                    </button>
                    <button mat-menu-item>
                        2 days ago
                    </button>
                    <button mat-menu-item>
                        3 days ago
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="mt-0 flex flex-col items-center">
            <div class="text-6xl font-bold leading-none tracking-tight text-amber-500 sm:text-6xl">
                {{ this._workflowV2Service.allQuotes().length || 0 }}
            </div>
            <div class="text-lg font-medium text-amber-600 dark:text-amber-500">
                Quotes
            </div>
            <div class="text-secondary mt-0 flex w-full items-baseline justify-center">
                <div class="truncate text-md font-medium">
                    From yesterday:
                </div>
                <div class="ml-1.5 text-lg font-semibold">
                    9
                </div>
            </div>
        </div>
    </div>
    <!-- Issues -->
    <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-2 shadow">
        <div class="flex items-start justify-between">
            <div class="truncate text-lg font-medium leading-6 tracking-tight">
                Jobs
            </div>
            <div class="-mr-3 -mt-2 ml-2">
                <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="
                                                    'heroicons_mini:ellipsis-vertical'
                                                "></mat-icon>
                </button>
                <mat-menu #issuesMenu="matMenu">
                    <button mat-menu-item>
                        Yesterday
                    </button>
                    <button mat-menu-item>
                        2 days ago
                    </button>
                    <button mat-menu-item>
                        3 days ago
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="mt-0 flex flex-col items-center">
            <div class="text-6xl font-bold leading-none tracking-tight text-warn-500 sm:text-6xl">
                {{ this._workflowV2Service.allJobs().length || 0}}
            </div>
            <div class="text-lg font-medium text-warn-600 dark:text-warn-500">
                Jobs
            </div>
            <div class="text-secondary mt-0 flex w-full items-baseline justify-center">
                <div class="truncate text-md font-medium">
                    Closed today:
                </div>
                <div class="ml-1.5 text-lg font-semibold">
                    19
                </div>
            </div>
        </div>
    </div>
    <!-- Features -->
    <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-2 shadow">
        <div class="flex items-start justify-between">
            <div class="truncate text-lg font-medium leading-6 tracking-tight">
                Invoices
            </div>
            <div class="-mr-3 -mt-2 ml-2">
                <button mat-icon-button [matMenuTriggerFor]="featuresMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="
                                                    'heroicons_mini:ellipsis-vertical'
                                                "></mat-icon>
                </button>
                <mat-menu #featuresMenu="matMenu">
                    <button mat-menu-item>
                        Yesterday
                    </button>
                    <button mat-menu-item>
                        2 days ago
                    </button>
                    <button mat-menu-item>
                        3 days ago
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="mt-0 flex flex-col items-center">
            <div class="text-6xl font-bold leading-none tracking-tight text-green-500 sm:text-6xl">
                {{ this._workflowV2Service.allInvoices().length || 0 }}
            </div>
            <div class="text-lg font-medium text-green-600 dark:text-green-500">
                Invoices
            </div>
            <div class="text-secondary mt-0 flex w-full items-baseline justify-center">
                <div class="truncate text-md font-medium">
                    Implemented:
                </div>
                <div class="ml-1.5 text-lg font-semibold">
                    16
                </div>
            </div>
        </div>
    </div>
</div>