<!-- Flippable card -->
@if (flippable) {
<!-- Front -->
<div class="axiomaim-card-front">
    <ng-content select="[axiomaimCardFront]"></ng-content>
</div>

<!-- Back -->
<div class="axiomaim-card-back">
    <ng-content select="[axiomaimCardBack]"></ng-content>
</div>
}

<!-- Normal card -->
@if (!flippable) {
<!-- Content -->
<ng-content></ng-content>

<!-- Expansion -->
@if (expanded) {
<div class="axiomaim-card-expansion" [@expandCollapse]>
    <ng-content select="[axiomaimCardExpansion]"></ng-content>
</div>
}
}