<!-- <kendo-scheduler [kendoSchedulerBinding]="events" [kendoSchedulerReactiveEditing]="createFormGroup"
    [selectedDate]="selectedDate" [group]="group" [resources]="resources" [startTime]="startTime" [endTime]="endTime"
    style="height: 600px;" (slotDblClick)="slotDblClickHandler($event)" (eventDblClick)="eventDblClickHandler($event)"
    (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)"
    (dragEnd)="dragEndHandler($event)" (resizeEnd)="resizeEndHandler($event)">
    <ng-template kendoSchedulerGroupHeaderTemplate let-resource="resource">
        <div class="group-header" [style.color]="resource.color">
            <img [src]="resource.avatar" [alt]="resource.text" class="avatar" />
            <span class="employee-name" [style.color]="resource.color" [title]="resource.text">{{ resource.text
                }}</span>
        </div>
    </ng-template>
    <kendo-scheduler-day-view [startTime]="startTime" [endTime]="endTime"></kendo-scheduler-day-view>
    <kendo-scheduler-week-view [startTime]="startTime" [endTime]="endTime"></kendo-scheduler-week-view>
    <kendo-scheduler-work-week-view [startTime]="startTime" [endTime]="endTime"></kendo-scheduler-work-week-view>
    <kendo-scheduler-month-view></kendo-scheduler-month-view>
    <kendo-scheduler-timeline-view [startTime]="startTime" [endTime]="endTime"></kendo-scheduler-timeline-view>
    <kendo-scheduler-agenda-view></kendo-scheduler-agenda-view>
    <kendo-scheduler-year-view></kendo-scheduler-year-view>
</kendo-scheduler> -->

<!-- <button class="ml-4" mat-flat-button [matTooltip]="'New event'" [color]="'primary'" (click)="createSampleEvent()"
    aria-label="Add new event">
    <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
    <span class="ml-2 mr-1">Add Event</span>
</button> -->

<kendo-scheduler [kendoSchedulerBinding]="editService.events | async" [modelFields]="editService.fields"
    [loading]="editService.loading" [editable]="true" [selectedViewIndex]="0" [selectedDate]="selectedDate"
    (slotDblClick)="slotDblClickHandler($event)" (eventDblClick)="eventDblClickHandler($event)"
    (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)"
    (dragEnd)="dragEndHandler($event)" (resizeEnd)="resizeEndHandler($event)" style="height: 600px;">
    <kendo-scheduler-week-view startTime="07:00"> </kendo-scheduler-week-view>
</kendo-scheduler>