<!-- <davesa-loading-bar></davesa-loading-bar> -->
<div class="-m-6 flex max-h-screen max-w-240 flex-col md:min-w-160">
    <div class="flex w-full flex-col">
        <!-- Header -->
        <div class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
            <div class="text-lg font-medium">New Template: ({{ protocol.title }})</div>
            <button mat-icon-button (click)="close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <!-- Sprint Role form -->
        <div class="relative flex flex-auto flex-col items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <!-- <form [formGroup]="composeForm" (ngSubmit)="onSubmit(composeForm.value)"> -->
                <form [formGroup]="addTemplateForm">
                    <!-- Title -->
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Title</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="'account_box'"></mat-icon>
                            <input matInput [formControlName]="'title'" [placeholder]="'Title'" />
                        </mat-form-field>
                    </div>

                    <!-- Icon -->
                    <div class="mt-8">
                        <icon-picker (iconPickerSelect)="onIconPickerSelect($event)" [selectedIcon]="selectedIcon"
                            [iconSize]="iconSize"></icon-picker>
                    </div>


                    <!-- Description -->
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Description</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                            <textarea matInput [formControlName]="'description'" [placeholder]="'Description'"
                                [rows]="5" [spellcheck]="false" cdkTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>

                    <!-- Lists -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            @for (
                            list of addTemplateForm.get('lists')['controls'];
                            track trackByFn(i, list);
                            let i = $index;
                            let first = $first;
                            let last = $last
                            ) {
                            <div class="flex">
                                <!-- <mat-form-field class="ml-2 w-full max-w-10 flex-auto sm:ml-4 sm:max-w-40"
                                    [subscriptSizing]="'dynamic'">
                                    @if (first) {
                                    <mat-label>ID</mat-label>
                                    }
                                    <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="
                                            'format_list_numbered'
                                        "></mat-icon>
                                    <input matInput [formControl]="list.get('id')" [placeholder]="'ID'"
                                        [spellcheck]="false" />
                                </mat-form-field> -->
                                <mat-form-field class="ml-2 w-full max-w-24 flex-auto sm:ml-4 sm:max-w-40"
                                    [subscriptSizing]="'dynamic'">
                                    @if (first) {
                                    <mat-label>Position</mat-label>
                                    }
                                    <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="
                                                'format_list_numbered'
                                            "></mat-icon>
                                    <input matInput [formControl]="list.get('position')" [placeholder]="'Position'"
                                        [spellcheck]="false" />
                                </mat-form-field>
                                <mat-form-field class="flex-auto" [subscriptSizing]="'dynamic'">
                                    @if (first) {
                                    <mat-label>Title</mat-label>
                                    }
                                    <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                        [svgIcon]="'title'"></mat-icon>
                                    <input matInput [formControl]="list.get('title')" [placeholder]="'Title'" />
                                </mat-form-field>
                                <!-- Remove list -->
                                @if (!(first && last)) {
                                <div class="flex w-10 items-center pl-2" [ngClass]="{ 'mt-6': first }">
                                    <button class="h-8 min-h-8 w-8" mat-icon-button (click)="removeListField(i)"
                                        matTooltip="Remove">
                                        <mat-icon class="icon-size-5" [svgIcon]="
                                                        'heroicons_solid:trash'
                                                    "></mat-icon>
                                    </button>
                                </div>
                                }
                            </div>
                            }
                        </div>
                        <div class="group -ml-4 mt-2 inline-flex cursor-pointer items-center rounded px-4 py-2"
                            (click)="addListField()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="text-secondary ml-2 font-medium group-hover:underline">Add a list</span>
                        </div>
                        <div class="mt-8">
                        </div>
                        <!-- Actions -->
                        <div
                            class="-mx-6 mt-10 flex items-center border-t bg-slate-100 py-4 pl-1 pr-4 dark:bg-transparent sm:-mx-12 sm:pl-7 sm:pr-12">
                            <!-- Cancel -->
                            <button class="ml-auto" mat-button color="warn" [matTooltip]="'Cancel'" (click)="close()">
                                Cancel
                            </button>
                            <!-- Save -->
                            <button class="ml-2" mat-raised-button color="primary" [disabled]="addTemplateForm.invalid"
                                type="button" [matTooltip]="'Save'" (click)="onSubmit()">
                                Save
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>