<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <!-- Drawer -->
        <mat-drawer class="w-full dark:bg-gray-900 md:w-3/4" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div class="flex flex-auto flex-col justify-between border-b px-6 py-8 sm:flex-row md:flex-col md:px-8">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold leading-none tracking-tight">
                            Modules
                        </div>
                        <div class="text-secondary ml-0.5 font-medium">
                            @if (moduleCount > 0) {
                            {{ moduleCount }}
                            }
                            {{
                            moduleCount
                            | i18nPlural
                            : {
                            '=0': 'No modules',
                            '=1': 'module',
                            other: 'modules',
                            }
                            }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="mt-4 flex items-center sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field class="axiomaim-mat-dense axiomaim-mat-rounded w-full min-w-50"
                                subscriptSizing="dynamic">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="
                                        'heroicons_solid:magnifying-glass'
                                    "></mat-icon>
                                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                                    [placeholder]="'Search modules'" />
                            </mat-form-field>
                        </div>
                        <!-- Add module button -->
                        <modules-add-item></modules-add-item>

                    </div>
                </div>

                <!-- Sources list -->
                <div class="relative">
                    @if (modules$ | async; as modules) {
                    @if (modules.length) {
                    @for (
                    module of modules;
                    track trackByFn(i, module);
                    let i = $index
                    ) {
                    <!-- Group -->
                    <!-- @if (
                    i === 0 ||
                    module.firstName.charAt(0) !==
                    modules[i - 1].firstName.charAt(0)
                    ) {
                    <div
                        class="text-secondary sticky top-0 z-10 -mt-px border-b border-t bg-gray-50 px-6 py-1 font-medium uppercase dark:bg-gray-900 md:px-8">
                        {{ module.firstName.charAt(0) }}
                    </div>
                    } -->
                    <!-- Source -->
                    <a class="z-20 flex cursor-pointer items-center border-b px-6 py-4 md:px-8" [ngClass]="{
                                        'dark:hover:bg-hover hover:bg-gray-100':
                                            !selectedSource ||
                                            selectedSource.id !== module.id,
                                        'bg-primary-50 dark:bg-hover':
                                            selectedSource &&
                                            selectedSource.id === module.id,
                                    }" [routerLink]="['./', module.id]">
                        <div class="flex h-10 w-10 flex-0 items-center justify-center overflow-hidden rounded-full">
                            @if (module.avatar) {
                            <img class="h-full w-full object-cover" [src]="module.avatar" alt="Source avatar" />
                            }
                            @if (!module.avatar) {
                            <div class="flex h-full w-full items-center justify-center rounded-full  text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                [ngClass]="module.activeSource ? 'bg-green-200' : 'bg-gray-200'">
                                {{ module.name?.charAt(0) }}{{ module.name?.charAt(1) }}
                            </div>
                            }
                        </div>
                        <div class="ml-4 min-w-0">
                            <div class="truncate font-medium leading-5">
                                {{ module.name }}
                            </div>
                            <div class="text-secondary truncate leading-5">
                                {{ module.description }}
                            </div>
                        </div>
                    </a>
                    }
                    } @else {
                    <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                        There are no modules!
                    </div>
                    }
                    }

                    <!-- No modules -->
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>