<button class="px-3" mat-button matTooltip="eForm Viewer" [color]="'primary'" (click)="surveyViewerDrawer.toggle()">
    <mat-icon [svgIcon]="'mat_outline:document_scanner'"></mat-icon>
    eForm Viewer
</button>

<davesa-drawer class="z-999 w-full min-w-screen sm:w-full sm:min-w-full" fixed [mode]="'over'"
    [name]="'surveyViewerDrawer'" [position]="'right'" #surveyViewerDrawer id="surveyViewerDrawer">
    <div class="flex-auto  pb-10">
        <div class="flex h-15 min-h-15 flex-row items-center bg-emerald-500 px-6 text-white">
            <mat-icon class="text-current icon-size-7" [svgIcon]="'mat_outline:document_scanner'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                eForm Viewer
            </div>
            <button class="ml-auto" mat-icon-button (click)="surveyViewerDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        @if(document) {
        <survey class="w-full" #survey [model]="surveyModel"></survey>
        }
    </div>

</davesa-drawer>