<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end" class="w-100 mb-2 overflow-y-auto">
  <span *ngIf="approveFormPermission" fxLayoutAlign="flex-end center" class="mx-2 audit-trail">
    <mat-icon (click)="ApproveForm()"
      [matTooltip]="tooltip.getTooltip('APPROVE_FORM')">supervised_user_circle</mat-icon>
  </span>
  <!-- <span
    *ngIf="formAuditTrail?.length"
    fxLayoutAlign="flex-end center"
    class="audit-trail"
  >
    <mat-icon
      matTooltip="Audit Logs"
      (click)="viewAuditDialog(surveyData?.esourceForm?.name, formAuditTrail)"
      >playlist_add_check</mat-icon
    >
  </span> -->
</div>
<survey #survey [model]="surveyModel"></survey>