@if (card) {
<davesa-card class="filter-post flex max-w-72 max-h-30 flex-col ">
    <div class="m-3 text-md">{{ card.title }}</div>
    <!-- Actions -->
    <div class="flex align-bottom dark:bg-transparent mb-2">
        <user-button class="ml-3 mt-2 flex shrink" [userId]="card.userId" [userDetails]="true"
            [showEmail]="false"></user-button>
    </div>
    <!-- <div class="mx-3 flex items-center sm:mx-5">
        <button class="mr-1 px-3" mat-button>
            <mat-icon class="text-red-500 icon-size-5" [svgIcon]="'heroicons_solid:heart'"></mat-icon>
            <span class="ml-2">Unlike</span>
        </button>
        <button class="mr-1 px-3" mat-button>
            <mat-icon class="icon-size-5" [svgIcon]="
                        'heroicons_solid:chat-bubble-left-ellipsis'
                    "></mat-icon>
            <span class="ml-2">Comment</span>
        </button>
        <button class="mr-1 px-3" mat-button>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:share'"></mat-icon>
            <span class="ml-2">Share</span>
        </button>
    </div> -->
    <!-- <hr class="mx-6 mb-6 mt-4 border-b sm:mx-8" /> -->
    <!-- <div class="mx-6 mb-4 flex flex-col sm:mx-8 sm:mb-6 sm:flex-row sm:items-center">
        <div class="flex items-center">
            <img class="text-card ring-bg-card m-0.5 h-6 w-6 rounded-full ring-2" src="images/avatars/female-02.jpg"
                alt="Card cover image" />
            <img class="text-card ring-bg-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2"
                src="images/avatars/female-04.jpg" alt="Card cover image" />
            <img class="text-card ring-bg-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2" src="images/avatars/male-09.jpg"
                alt="Card cover image" />
            <img class="text-card ring-bg-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2" src="images/avatars/male-07.jpg"
                alt="Card cover image" />
            <div class="ml-3 text-md tracking-tight">
                You and 24 more liked this
            </div>
        </div>
        <div class="hidden flex-auto sm:flex"></div>
        <div class="mt-4 flex items-center sm:mt-0">
            <button class="-ml-2 mr-1 px-3 sm:ml-0" mat-button>
                4 shares
            </button>
            <button class="px-3 sm:-mr-3" mat-button>
                No comments
            </button>
        </div>
    </div> -->
</davesa-card>
}