@if (card) {
@if (card.coverImage) {

<div class="-mx-5 -mt-5 mb-2">
    <img class="w-full object-cover" [src]="card.coverImage" />
</div>
}
<div class="flex items-start justify-between">
    <div class="truncate text-md font-medium leading-6 tracking-tight">
        {{ card.title }}
    </div>
    <div class="-mr-3 -mt-2 ml-2">
        <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
            <mat-icon class="icon-size-5" [svgIcon]="
                        'heroicons_mini:ellipsis-vertical'
                    "></mat-icon>
        </button>
        <mat-menu #summaryMenu="matMenu">
            <button mat-menu-item>
                Open
            </button>
            <button mat-menu-item>
                ...
            </button>
            <button mat-menu-item>
                ...
            </button>
        </mat-menu>
    </div>
</div>

<!-- <div class="text-md font-medium leading-5">
    {{ card.title }}
</div> -->
<user-button [userId]="card.userId"></user-button>

@if (card?.labels?.length) {
<div>
    <div class="-mx-1 -mb-2 flex flex-wrap">
        @for (
        label of card.labels;
        track trackByFn(
        $index,
        label
        )
        ) {
        <div
            class="mx-1 mb-2 rounded-full bg-gray-100 px-3 py-0.5 text-sm font-medium text-gray-500 dark:bg-gray-700 dark:text-gray-300">
            {{ label.title }}
        </div>
        }
    </div>
</div>
}
@if (card.dueDate) {
<div class="text-secondary flex items-center rounded text-sm font-medium leading-5" [ngClass]="{
                    'text-red-600': isOverdue(
                        card.dueDate
                    ),
                }">
    <mat-icon class="text-current icon-size-4" [svgIcon]="
                        'heroicons_outline:clock'
                    "></mat-icon>
    <div class="ml-1">
        {{
        card.dueDate
        | date: 'longDate'
        }}
    </div>
</div>
}

<!-- TEST CARD LAYOUT-->
<!-- <davesa-card class="filter-post flex w-full max-w-72 flex-col">
    <div class="mx-6 mb-0 mt-4 flex items-center sm:mx-8">
        <div class="flex flex-col">
            <span class="font-semibold leading-none">Card Title Here</span>
            <span class="text-secondary mt-1 text-sm leading-none">SubText Here</span>
        </div>
        <button class="-mr-4 ml-auto" mat-icon-button [matMenuTriggerFor]="postCardMenu05">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:ellipsis-vertical'"></mat-icon>
        </button>
        <mat-menu #postCardMenu05="matMenu">
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_solid:arrow-up-tray'"></mat-icon>
                    <span>Save post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    <span>Hide post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                    <span>Snooze for 30 days</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                    <span>Hide all</span>
                </span>
            </button>
            <mat-divider class="my-2"></mat-divider>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon class="mr-3 icon-size-5" [svgIcon]="
'heroicons_solid:exclamation-triangle'
"></mat-icon>
                    <span>Report post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon class="mr-3 icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                    <span>Turn on notifications for this post</span>
                </span>
            </button>
        </mat-menu>
    </div>
    <div class="mx-6 mb-4 mt-2 sm:mx-8">
        #62 Look at that sky! I so want to be there.. Can we arrange a
        trip? Is that a possibility? Please!!!
    </div>
    <div class="mx-3 flex items-center sm:mx-5">
        <button class="mr-1 px-3" mat-button>
            <mat-icon class="text-red-500 icon-size-5" [svgIcon]="'heroicons_solid:heart'"></mat-icon>
            <span class="ml-2">Unlike</span>
        </button>
        <button class="mr-1 px-3" mat-button>
            <mat-icon class="icon-size-5" [svgIcon]="
'heroicons_solid:chat-bubble-left-ellipsis'
"></mat-icon>
            <span class="ml-2">Comment</span>
        </button>
        <button class="mr-1 px-3" mat-button>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:share'"></mat-icon>
            <span class="ml-2">Share</span>
        </button>
    </div>
    <hr class="mx-6 mb-0 mt-4 border-b sm:mx-8" />
    <div class="mx-6 mb-4 mt-4 flex items-center sm:mx-8">
        <user-button [userId]="loginUser.id"></user-button>
    </div>

    <div class="mx-6 mb-4 flex flex-col sm:mx-8 sm:mb-6 sm:flex-row sm:items-center">
        <div class="flex items-center">
            <img class="text-card ring-bg-card m-0.5 h-6 w-6 rounded-full ring-2" src="images/avatars/female-02.jpg"
                alt="Card cover image" />
            <img class="text-card ring-bg-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2"
                src="images/avatars/female-04.jpg" alt="Card cover image" />
            <img class="text-card ring-bg-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2" src="images/avatars/male-09.jpg"
                alt="Card cover image" />
            <img class="text-card ring-bg-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2" src="images/avatars/male-07.jpg"
                alt="Card cover image" />
            <div class="ml-3 text-md tracking-tight">
                You and 24 more liked this
            </div>
        </div>
        <div class="hidden flex-auto sm:flex"></div>
        <div class="mt-4 flex items-center sm:mt-0">
            <button class="-ml-2 mr-1 px-3 sm:ml-0" mat-button>
                4 shares
            </button>
            <button class="px-3 sm:-mr-3" mat-button>
                No comments
            </button>
        </div>
    </div>
</davesa-card> -->
<!-- TEST CARD LAYOUT-->

}