<!-- Settings toggle -->
<button mat-flat-button [color]="'primary'" [matTooltip]="'Edit User'" (click)="openDrawer()" #messagesOrigin>
    <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:pencil-square'"></mat-icon>
    <span class="text-md">Settings</span>
</button>

<axiomaim-drawer class="z-999 w-3/4 min-w-3/4 sm:w-3/4 sm:min-w-3/4 mt-16 " fixed [mode]="'over'"
    [name]="'editItemDrawer'" [position]="'right'" #editItemDrawer>

    <div class="flex w-full flex-col ">
        <alert-messages />
        <div class="flex h-10 min-h-10 flex-row items-center bg-sky-900 px-6 text-white">
            <mat-icon class="text-current icon-size-7" [svgIcon]="'axiomaim:davesa-c'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                Edit User
            </div>
            <button class="ml-auto" mat-icon-button (click)="close()" [disabled]="isLoading()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>

        <!-- form -->
        <div class="relative flex flex-auto flex-col overflow-y-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <div class="ml-4 min-w-0">
                    <div class="truncate font-medium leading-5 text-3xl m-4">
                        {{ loginUser()?.displayName }}
                    </div>
                    <div class="text-secondary truncate leading-5 text-2xl  m-4">
                        {{ loginUser()?.email }}
                    </div>
                </div>

                <form [formGroup]="userForm">
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Email</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'mat_solid:email'"></mat-icon>
                            <input matInput [formControlName]="'email'" [placeholder]="'Email'" [spellcheck]="false" />
                        </mat-form-field>
                    </div>

                    <!-- <div class="flex flex-wrap gap-2"> -->
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>First Name</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input matInput [formControlName]="'firstName'" [placeholder]="'First Name'"
                                [spellcheck]="false" />
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Last Name</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input matInput [formControlName]="'lastName'" [placeholder]="'Last Name'"
                                [spellcheck]="false" />
                        </mat-form-field>
                    </div>
                    <!-- </div> -->
                    <div class="mt-8">
                        <address-lookup class="w-full" label="Address" [formControl]="userForm.controls['address']"
                            placeholder="Enter address">
                        </address-lookup>

                        <!-- Actions -->
                        <div
                            class="-mx-6 mt-10 flex items-center border-t bg-gray-50 py-4 pl-1 pr-4 dark:bg-transparent sm:-mx-12 sm:pl-7 sm:pr-12">
                            <!-- Cancel -->
                            <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="close()"
                                [disabled]="isLoading()">
                                Cancel
                            </button>
                            <!-- Save -->
                            <button class="ml-2" mat-flat-button [color]="'primary'"
                                [disabled]="userForm.invalid || isLoading()" [matTooltip]="'Save'" (click)="onSubmit()">
                                {{ isLoading() ? 'Saving...' : 'Save' }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</axiomaim-drawer>