<!-- Settings toggle -->
<button mat-button [matTooltip]="'New User'" (click)="openDrawer()" #messagesOrigin>
    <mat-icon class="icon-size-6" [svgIcon]="'mat_outline:add'"></mat-icon>
    <span class="text-md">Add Item</span>
</button>

<axiomaim-drawer class="z-999 w-3/4 min-w-3/4 sm:w-3/4 sm:min-w-3/4 mt-16 " fixed [mode]="'over'"
    [name]="'newItemDrawer'" [position]="'right'" #newItemDrawer>

    <div class="flex w-full flex-col ">
        <alert-messages />
        <div class="flex h-10 min-h-10 flex-row items-center bg-sky-900 px-6 text-white">
            <mat-icon class="text-current icon-size-7" [svgIcon]="''"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                Add Item
            </div>
            <button class="ml-auto" mat-icon-button (click)="close()" [disabled]="isLoading()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>

        <!-- form -->
        <div class="relative flex flex-auto flex-col overflow-y-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="itemForm">
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>SKU</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'mat_solid:airplane_ticket'"></mat-icon>
                            <input matInput [formControlName]="'sku'" [placeholder]="'Email'" [spellcheck]="false" />
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="chip-list">
                            <mat-label>Categories</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:clipboard-document-list'"></mat-icon>
                            <mat-chip-grid #chipGrid aria-label="Enter category">
                                @for (category of categories(); track category) {
                                <mat-chip-row (removed)="remove(category)" [editable]="true"
                                    (edited)="edit(category, $event)"
                                    [aria-description]="'press enter to edit ' + category.name">
                                    <button matChipEdit [attr.aria-label]="'edit ' + category.name">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    {{category.name}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + category.name">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                }
                                <input placeholder="New category..." [matChipInputFor]="chipGrid"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                            </mat-chip-grid>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Name</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:code-bracket-square'"></mat-icon>
                            <input matInput [formControlName]="'name'" [placeholder]="'Item Name'"
                                [spellcheck]="false" />
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Description</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'mat_solid:description'"></mat-icon>
                            <textarea matInput rows="3" [formControlName]="'description'" [placeholder]="'Description'"
                                [spellcheck]="false"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Price</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            <input matInput [formControlName]="'price'" [placeholder]="'Price'" [spellcheck]="false" />
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="item-type-select">
                            <mat-label>Item Type</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:ticket'"></mat-icon>
                            <mat-select [formControlName]="'itemType'" name="itemType">
                                @for (itemType of itemTypes; track itemType) {
                                <mat-option [value]="itemType.value">{{itemType.viewValue}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- </div> -->
                    <div class="mt-8">
                        <!-- Actions -->
                        <div
                            class="-mx-6 mt-10 flex items-center border-t bg-gray-50 py-4 pl-1 pr-4 dark:bg-transparent sm:-mx-12 sm:pl-7 sm:pr-12">
                            <!-- Cancel -->
                            <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="close()"
                                [disabled]="isLoading()">
                                Cancel
                            </button>
                            <!-- Save -->
                            <button class="ml-2" mat-flat-button [color]="'primary'"
                                [disabled]="itemForm.invalid || isLoading()" [matTooltip]="'Save'" (click)="onSubmit()">
                                {{ isLoading() ? 'Saving...' : 'Save' }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</axiomaim-drawer>