<davesa-loading-bar></davesa-loading-bar>
@if(userRole$ | async; as userRole ) {

<div class="-m-6 flex max-h-screen max-w-240 flex-col md:min-w-160">
    <div class="flex w-full flex-col">
        <!-- Header -->
        <div class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
            <div class="text-lg font-medium">New User Role</div>
            <button mat-icon-button (click)="close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <!-- User Role form -->
        <div class="relative flex flex-auto flex-col items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <!-- <form [formGroup]="composeForm" (ngSubmit)="onSubmit(composeForm.value)"> -->
                <form [formGroup]="composeForm">
                    <!-- First Name -->
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Name</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="'account_box'"></mat-icon>
                            <input matInput [formControlName]="'name'" [placeholder]="'Name'" />
                        </mat-form-field>
                    </div>
                    <!-- Last Name -->
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Code</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="'account_box'"></mat-icon>
                            <input matInput [formControlName]="'code'" [placeholder]="'Code'" />
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div
                        class="-mx-6 mt-10 flex items-center border-t bg-slate-100 py-4 pl-1 pr-4 dark:bg-transparent sm:-mx-12 sm:pl-7 sm:pr-12">
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button color="warn" [matTooltip]="'Cancel'" (click)="close()">
                            Cancel
                        </button>
                        <!-- Save -->
                        <button class="ml-2" mat-raised-button color="primary" [disabled]="composeForm.invalid"
                            type="button" [matTooltip]="'Save'" (click)="onSubmit()">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}