<div class="flex">
  <mat-form-field class="gt-xs:pr-3 flex-auto" [appearance]="formFieldAppearence || 'outline'">
    <mat-label>{{ label }}</mat-label>
    <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>

    <input matInput [placeholder]="placeholder" [id]="id" [formControl]="formControl" [readonly]="readOnly"
      [type]="type" [autocomplete]="autocompleteAttribute" #addressInput />
    <mat-error *ngIf="mapsLoadingError">{{ mapsLoadingError }}</mat-error>
  </mat-form-field>
</div>