<div class="flex w-full flex-auto flex-col">
    <!-- Title -->
    <div class="mx-6 mb-4 mt-10 text-2xl font-extrabold leading-none tracking-tight">
        Projects
    </div>
    <!-- <button class="ml-3" mat-button (click)="refactor()">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
        <span class="ml-2">Refactor</span>
    </button> -->

    <!-- Compose button -->
    <!-- <button class="mx-4" mat-button [color]="'primary'" (click)="openComposeDialog()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2">Add new Project</span>
    </button> -->

    <projects-add-project (saved)="addProject($event)" [buttonTitle]="'Add your Project'"></projects-add-project>


    <!-- Navigation -->
    <davesa-vertical-navigation [navigation]="menuData" [inner]="true" [mode]="'side'"
        [opened]="true"></davesa-vertical-navigation>
</div>