<davesa-loading-bar></davesa-loading-bar>
@if(userRole$ | async; as userRole ) {

<div class="-m-6 flex max-h-screen max-w-240 flex-col md:min-w-160">
    <div class="flex w-full flex-col">
        <!-- Header -->
        <div class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
            <div class="text-lg font-medium">New User</div>
            <button mat-icon-button (click)="close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <!-- User Role form -->
        <div class="relative flex flex-auto flex-col items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <!-- <form [formGroup]="composeForm" (ngSubmit)="onSubmit(composeForm.value)"> -->
                <form [formGroup]="composeForm">
                    <!-- First Name -->
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>First Name</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="'account_box'"></mat-icon>
                            <input matInput [formControlName]="'firstName'" [placeholder]="'First Name'" />
                        </mat-form-field>
                    </div>
                    <!-- Last Name -->
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Last Name</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="'account_box'"></mat-icon>
                            <input matInput [formControlName]="'lastName'" [placeholder]="'Last Name'" />
                        </mat-form-field>
                    </div>

                    <!-- Email -->
                    <div class="mt-8">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Email</mat-label>
                            <mat-icon matPrefix class="hidden icon-size-5 sm:flex" [svgIcon]="'mail'"></mat-icon>
                            <input matInput [formControlName]="'email'" [placeholder]="'Email'" />
                        </mat-form-field>
                    </div>

                    <!-- Phone Numbers -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            @for (
                            phoneNumber of composeForm.get('phoneNumbers')[
                            'controls'
                            ];
                            track trackByFn(i, phoneNumber);
                            let i = $index;
                            let first = $first;
                            let last = $last
                            ) {
                            <div class="relative flex">
                                <mat-form-field class="flex-auto" [subscriptSizing]="'dynamic'">
                                    @if (first) {
                                    <mat-label>Phone</mat-label>
                                    }
                                    <input matInput [formControl]="
                                        phoneNumber.get('phoneNumber')
                                    " [placeholder]="'Phone'" />
                                    <mat-select class="mr-1.5" [formControl]="
                                        phoneNumber.get('country')
                                    " matPrefix>
                                        <mat-select-trigger>
                                            <span class="flex items-center">
                                                <span class="mr-1 hidden h-4 w-6 overflow-hidden sm:flex"
                                                    [style.background]="
                                                    'url(\'/images/apps/organizations/flags.png\') no-repeat 0 0'
                                                " [style.backgroundSize]="
                                                    '24px 3876px'
                                                " [style.backgroundPosition]="
                                                    getCountryByIso(
                                                        phoneNumber.get(
                                                            'country'
                                                        ).value
                                                    ).flagImagePos
                                                "></span>
                                                <span class="text-default font-medium sm:mx-0.5">{{
                                                    getCountryByIso(
                                                    phoneNumber.get(
                                                    'country'
                                                    ).value
                                                    ).code
                                                    }}</span>
                                            </span>
                                        </mat-select-trigger>
                                        @for (
                                        country of countries;
                                        track trackByFn($index, country)
                                        ) {
                                        <mat-option [value]="country.iso">
                                            <span class="flex items-center">
                                                <span class="h-4 w-6 overflow-hidden" [style.background]="
                                                        'url(\'/images/apps/organizations/flags.png\') no-repeat 0 0'
                                                    " [style.backgroundSize]="
                                                        '24px 3876px'
                                                    " [style.backgroundPosition]="
                                                        country.flagImagePos
                                                    "></span>
                                                <span class="ml-2">{{
                                                    country.company
                                                    }}</span>
                                                <span class="ml-2 font-medium">{{
                                                    country.code
                                                    }}</span>
                                            </span>
                                        </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="ml-2 w-full max-w-24 flex-auto sm:ml-4 sm:max-w-40"
                                    [subscriptSizing]="'dynamic'">
                                    @if (first) {
                                    <mat-label>Label</mat-label>
                                    }
                                    <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                                        [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                    <mat-label>Label</mat-label>
                                    <mat-select required>
                                        @for (number of phonenumberTypes; track trackByFn($index, number) ) {
                                        <mat-option [value]="number.value">{{number.viewValue}}</mat-option>
                                        }
                                    </mat-select>
                                    <!-- <input matInput 
                                    [formControl]="
                                        phoneNumber.get('label')
                                    " [placeholder]="'Label'" 
                                    /> -->
                                </mat-form-field>
                                <!-- Remove phone number -->
                                @if (!(first && last)) {
                                <div class="flex w-10 items-center pl-2" [ngClass]="{ 'mt-6': first }">
                                    <button class="h-8 min-h-8 w-8" mat-icon-button (click)="
                                            removePhoneNumberField(i)
                                        " matTooltip="Remove">
                                        <mat-icon class="icon-size-5" [svgIcon]="
                                                'heroicons_solid:trash'
                                            "></mat-icon>
                                    </button>
                                </div>
                                }
                            </div>

                            <select-checkbox [labelName]="'User Roles'" [items]="userRoles"
                                [selectedItems]="user.userRoles" [bindLabel]="'code'" [bindValue]="'id'"
                                (selectedOption)="selectedOption($event)"></select-checkbox>

                            <!-- Actions -->
                            <div
                                class="-mx-6 mt-10 flex items-center border-t bg-slate-100 py-4 pl-1 pr-4 dark:bg-transparent sm:-mx-12 sm:pl-7 sm:pr-12">
                                <!-- Cancel -->
                                <button class="ml-auto" mat-button color="warn" [matTooltip]="'Cancel'"
                                    (click)="close()">
                                    Cancel
                                </button>
                                <!-- Save -->
                                <button class="ml-2" mat-raised-button color="primary" [disabled]="composeForm.invalid"
                                    type="button" [matTooltip]="'Save'" (click)="onSubmit()">
                                    Save
                                </button>
                            </div>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}