<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="leadsMenu">
    <mat-icon [svgIcon]="'mat_outline:perm_contact_calendar'"></mat-icon>
</button>

<!-- Leads menu -->
<mat-menu [xPosition]="'before'" #leadsMenu="matMenu">
    <button mat-menu-item (click)="touchLead()">
        <mat-icon [svgIcon]="'mat_outline:person_add_alt'"></mat-icon>
        <span class="ml-3">Add Lead</span>
    </button>
    <button mat-menu-item [routerLink]="['/crm/leads']">
        <mat-icon [svgIcon]="'mat_outline:leaderboard'"></mat-icon>
        <span class="ml-3">Open Leads</span>
    </button>
</mat-menu>